body {
    background-image: url("https://www.cg.tuwien.ac.at/research/publications/2020/Pilizar_-2020-bachelor/Pilizar_-2020-bachelor-image.png");
    background-repeat: no-repeat;
    background-size: 90%;
    opacity: 0.75;
    margin-left: 1cm;
}

